* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.carousel-item img {
  width: 100%;
  height: 93vh;
}

.img-fluid{
   max-height: 280px;
   min-width: 100%;
}
    
 .services img{
   width: 100%;
   height: 100%;
 }

 .offer-style{
   background: #a6dcef;
 }

 footer p{
   margin-bottom: 0;
 }